---
import { SignIn } from "@clerk/astro/components";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sign in | Pantelis">
  <div class="flex w-full h-full min-h-screen justify-center items-center p-5">
    <SignIn path='/sign-in' />
  </div>
</Layout>
